@media screen and (max-width: 1599px) {
  :root {
    --title-fs: 3.7rem;
    --subtitle-fs: 1.2rem;
  }

  .banner-container .banner-content .title {
    font-size: 6rem;
  }

  .me-section .right-page > .title-container {
    top: 40%;
    transform: translate(-50%, -40%);
  }

  .me-section .right-page > .description-container {
    width: 70%;
  }

  .me-section .left-page > .profile-picture {
    width: 270px;
    height: 270px;
  }

  .project-tile {
    width: 375px;
    height: 275px;
  }

  .project-tile::after {
    left: 81%;
  }

  .project-tile:nth-child(n + 3) {
    margin-top: 125px;
  }

  .project-tile:nth-child(n) {
    grid-column: 1 / 4;
  }

  .project-tile:nth-child(2n) {
    grid-column: 10 / 13;
  }
}

@media screen and (max-width: 1199px) {
  :root {
    --title-fs: 3rem;
    --subtitle-fs: 1.2rem;
  }

  .banner-container .banner-content .title {
    font-size: 6rem;
  }

  .project-tile {
    width: 290px;
    height: 250px;
  }

  .project-tile::after {
    left: 78%;
  }

  .contact-content .title-content .loading-container {
    top: -15%;
  }

  .contact-content .title-container .subtitle {
    position: absolute;
    top: -5%;
    left: 1%;
  }
}

@media screen and (max-width: 1059px) {
  .dot-style {
    width: 70px;
    height: 70px;
  }

  .banner-container {
    flex-direction: column;
  }

  .banner-content {
    width: auto;
    height: 100%;
    margin: 30px;
  }

  .banner-left {
    position: static;
  }

  .banner-left .title-container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .language-container {
    height: max-content;
    top: 63%;
    right: 50%;
    transform: translate(50%, -63%);
  }

  .banner-right {
    justify-content: flex-end;
    position: static;
  }

  .banner-right .dot-style {
    width: max-content;
    height: max-content;
    mask-image: linear-gradient(45deg, transparent 20%, black);
    position: absolute;
    top: 105px;
    right: 105px;
  }

  .banner-right .dot-style svg {
    width: 70px;
    height: 70px;
  }

  .me-section {
    position: relative;
    flex-direction: column;
  }

  .me-section > .page {
    width: auto;
    height: 100%;
  }

  .me-section .left-page,
  .me-section .right-page {
    position: static;
    margin: 30px;
  }

  .me-section .left-page > .dot-style {
    top: 105px;
    left: 105px;
  }

  .me-section :is(.left-page, .right-page) > .dot-style svg {
    width: 70px;
    height: 70px;
  }

  .me-section .left-page > .profile-picture {
    top: 35%;
    transform: translate(-50%, -35%) perspective(500px) rotateY(-15deg);
  }

  .me-section .right-page > .dot-style {
    bottom: 105px;
    right: 105px;
  }

  .me-section .right-page > .title-container {
    top: 68%;
    transform: translate(-50%, -68%);
  }

  .me-section .right-page > .description-container {
    top: 82%;
    transform: translate(-50%, -82%);
  }

  .me-section .left-page > .profile-picture {
    width: 200px;
    height: 200px;
    box-shadow: 10px -10px 0 var(--bg-color), 15px -15px 0 var(--accent-color),
      25px -25px 0 var(--bg-color), 30px -30px 0 var(--accent-color),
      -10px 10px 0 var(--bg-color), -15px 15px 0 var(--accent-color),
      -25px 25px 0 var(--bg-color), -30px 30px 0 var(--accent-color);
  }

  .project-tile {
    width: 100%;
    height: 375px;
  }

  .project-tile::after {
    left: 90%;
    top: 82%;
  }

  .project-tile:nth-child(n + 2) {
    margin-top: 125px;
  }

  .project-tile:nth-child(n) {
    grid-column: 1 / 13;
  }

  .project-tile:nth-child(2n) {
    grid-column: 1 / 13;
  }

  .picture-frame {
    --_posY: 92%;
    --_posX: 96%;
  }

  .works-section .dot-style svg {
    width: 70px;
    height: 70px;
  }

  .contact-section .dot-style svg {
    width: 70px;
    height: 70px;
  } 
}

@media screen and (max-width: 999px) {
  .projects-container {
    padding: 0 30px 60px;
  }

  .project-tile::after {
    left: 88%;
  }

  .picture-frame {
    --_posX: 95%;
  }

  .contact-content .title-container .title {
    font-size: 5rem;
  }

  .contact-content .title-content .loading-container {
    top: -30%;
  }

  .contact-content .title-container .subtitle {
    top: -10%;
  }

  .contact-content .social-contact-container {
    top: 65%;
    transform: translate(-50%, -65%);
  }
}

@media screen and (max-width: 889px) {
  .project-tile::after {
    left: 84%;
  }

  .picture-frame {
    --_posY: 90%;
    --_posX: 92%;
  }

  footer::after {
    width: 400px;
  }
}

@media screen and (max-width: 649px) {
  :root {
    --corner-style-width: 10px;
  }

  .banner-container {
    padding: var(--corner-style-width);
  }

  .banner-right .dot-style {
    top: 40px;
    right: 40px;
  }

  .me-section {
    padding: var(--corner-style-width) !important;
  }

  .me-section .left-page > .dot-style {
    top: 40px;
    left: 40px;
  }

  .me-section .right-page > .dot-style {
    bottom: 40px;
    right: 40px;
  }

  .works-section {
    padding: var(--corner-style-width) !important;
  }

  .works-section .dot-style {
    top: 40px;
  }

  .works-section .dot-1 {
    left: 40px;
  }

  .works-section .dot-2 {
    right: 40px;
  }

  .works-section > .title-container {
    margin: 150px 0 30px;
    padding: 0;
  }

  .works-section > .title-container .title {
    width: 100%;
  }

  .contact-section {
    padding: var(--corner-style-width) !important;
  }

  .contact-content .title-content::after {
    width: 200px;
  }
}

@media screen and (max-width: 549px) {
  .projects-container {
    padding: 0 0 60px;
  }

  .project-tile::after {
    display: none;
  }
}

@media screen and (max-width: 489px) {
  :root {
    font-size: 11px;
  }

  .banner-right {
    margin: 30px;
  }

  .banner-right .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .banner-right .description .subtitle {
    width: 200px;
  }

  .contact-content .title-content .loading-container {
    top: -50%;
  }

  .contact-content .social-contact-container {
    top: 60%;
    transform: translate(-50%, -60%);
  } 

  footer::after {
    width: 250px;
  }
}

@media screen and (max-width: 429px) {
  .project-tile {
    height: 230px;
  }

  .picture-frame {
    --_posY: 85%;
    --_posX: 89%;
  }
}

@media screen and (max-width: 389px) {
  .grid-style {
    gap: 10px;
  }

  .banner-left,
  .banner-right {
    margin: 10px;
  }

  .banner-right .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .banner-right .description .subtitle {
    text-align: center;
    width: auto;
  }
}
