<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="upper-screen">
        <button class="history-container" id="history-1">
            <div class="operation-container">44 + 33</div>
            <div class="answer-container">
                <p class="equal-sign">=</p>
                <p class="answer">77</p>
            </div>
        </button>
        <button class="history-container" id="history-2">
            <div class="operation-container">2 + 2</div>
            <div class="answer-container">
                <p class="equal-sign">=</p>
                <p class="answer">4</p>
            </div>
        </button>
    </div>
</body>
</html>