.screen-initial {
    justify-content: flex-end;
}

.history-active {
    justify-content: space-between;
}

.bottom-screen .operation-container {
    background-color: transparent;
    border: none;
}

.bottom-screen .operation-text {
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
    text-align: right;
    white-space: nowrap;
    float: right;
}

.bottom-screen .operation-text.active {
    font-size: var(--initial-font_size);
    cursor: text;
}

.bottom-screen .answer-container {
    font-size: var(--initial-font_size);
}

.answer-container {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.history-container {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--clear-color);
    font-size: 1rem;
    text-align: right;
    width: max-content;
}

.key-press {
    filter: brightness(0.8) !important;
    transform: scale(0.95);
}

.mid-font {
    font-size: calc(var(--initial-font_size) - 1rem) !important;
}

.small-font {
    font-size: calc(var(--initial-font_size) - 1.8rem) !important;
}