.initial-state {
  display: none;
}

.game-container {
  padding: 20px;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.exit-container {
  width: max-content;
  transition: 0.5s;
  padding: 12px;
  background-color: #831ac5;
  box-shadow: 0 10px 15px -5px #000;
  border-radius: 17px;
}

.exit-container:hover {
  cursor: pointer;
  transform: scale(1.07);
  box-shadow: 0 15px 20px -5px #000000a5;
}

.exit-container svg {
  width: 50px;
  height: 50px;
  stroke: #fff;
  fill: #fff;
}

.computer-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.computer-container {
  position: relative;
}

.computer-container > svg:first-of-type {
  width: 400px;
  height: 400px;
  filter: drop-shadow(0 10px 15px #717171);
}

.thinking-wrapper {
  position: absolute;
  top: -20%;
  left: -90%;
}

.thinking-container {
  width: 500px;
  height: 300px;
  position: relative;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #6563ff;
  box-shadow: 0 10px 15px -5px #717171;
}

#bubble1 {
  bottom: 20%;
  right: 10%;
  width: 70px;
  height: 35px;
}

#bubble2 {
  bottom: 30%;
  right: 20%;
  width: 120px;
  height: 60px;
}

#bubble3 {
  top: 7%;
  left: 7%;
  width: 300px;
  height: 150px;
}

.thought-container {
  position: relative;
  width: inherit;
  height: inherit;
}

.thought-container svg {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: thought_animation 0.5s linear infinite;
  animation-delay: calc(0.16s * var(--thought));
}

.score-container {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 50px;
  background-color: #831ac5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 50px;
  box-shadow: 0 15px 15px -5px #717171;
  color: #fff
}

.scores-item {
  display: flex;
  gap: 100px;
}

.score-container h1 {
  font-size: 3rem;
  padding-bottom: 15px;
  border-bottom: 2px solid #ffe77d;
}

.score-wrapper p {
  font-size: 2rem;
  text-align: center;
}

.score-wrapper p:first-of-type {
  font-weight: bold;
}

.choice-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.choice-container h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    background-image: linear-gradient(90deg, #48b54d, #579ed7, #ffe77d);
    color: transparent;
    width: max-content;
    -webkit-background-clip: text;
    background-clip: text;
}

.choice-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.choice {
    padding: 45px;
    border-radius: 30px;
    box-shadow: 0 15px 15px -5px #000;
    cursor: pointer;
    transition: 0.5s;
}

.choice:hover {
    transform: translateY(-10px);
}

.choice#rock {
    background-color: #48b54d;
    fill: #fff;
}

.choice#paper {
    background-color: #579ed7;
    fill: #fff;
}

.choice#scissors {
    background-color: #ffe77d;
    fill: #fff
}

.choice svg {
    width: 100px;
    height: 100px;
}

.active {
    display: block !important;
}

.win-wrapper {
    background-image: repeating-conic-gradient(rgb(254, 255, 167, 0.5) 10%, transparent 20%, rgb(254, 255, 167, 0.5) 30%);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: "Sofia Sans Condensed", sans-serif;
    backdrop-filter: blur(10px);
}

.win-container {
    position: relative;
    height: inherit;
    width: inherit;
}

.win-text, #winner-choice, .loser-text, .win-container button {
    position: absolute;
    left: 50%
}

.win-text, #winner-choice, .loser-text {
    text-shadow: 0 0 15px #000;
    color: #FFF;
}

.win-text {
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    width: max-content;
}

#winner-choice {
    top: 61%;
    transform: translate(-50%, -61%);
    font-size: 2.5rem;
}

.loser-text {
    top: 66%;
    transform: translate(-50%, -66%);
    font-size: 2.5rem;
}

@property --_color-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: #831ac5;
}

@property --_color-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: #ffe77d;
}

.win-container button {
    --_color-1: #831ac5;
    --_color-2: #ffe77d;
    color: #FFF;
    background-image: linear-gradient(90deg, var(--_color-1), var(--_color-2));
    box-shadow: 0 0 15px -5px #000;
    cursor: pointer;
    top: 73%;
    transform: translate(-50%, -73%);
    padding: 13px 35px;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: --_color-1 1s, --_color-2 1s, 0.5s;

    &:hover {
        --_color-1: #ffe77d;
        --_color-2: #831ac5;
        transform: translate(-50%, -65%) scale(1.1);
    }
}